 /* nor  */
body, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

 /* lib  */

 /* cus  */

/*  home  */

 .home {
    background-color: white ;
  }

  .home .home_left {
      width: 38%;
      height: 307px;
      background-image: url(/img/p5.png) ;
      background-size: cover;
      background-repeat: no-repeat ;
      padding-left: 150px;
      margin: 200px;
  }

  .home .home_left .text-box {
      max-width: 560px;
      height: 100%;
      position: relative;
      padding-top: 20px;
  }

  .home .home_left h1 {
      font-size: 48px;
      line-height: 1.5;
      display: inline-block;
      color: #ffffff;
  }

  .home .home_left .sub_tit li {
      position: absolute;
      top: 215px;
      left: 10px;
      font-weight: bold;
      display: inline-block;
      color: #ffffff;
      font-size: 18px;
  }

  .home .home_left .hash_tag ul li {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    line-height: 2.5;
  }
  
  /*  About me  */

  .about_me {
    background-color: #576F40 ;
  }

  .about_me header {}

  .about_me header h1 {
    text-align: center;
  }

  .about_me .a_main {
    width: 100%;
    height: 800px;
    display: flex;
  }
  .about_me .a_main .a_img {
    width: 450px;
    height: 600px;
    background-color: #999;
    margin-top: 120px;
    margin-left: 260px; s
  }
  .about_me .a_main .a_text {
    width: 1000px;
    height: 680px;
    margin-top: 50px;
    margin-left: 50px; 
    background-image: url(/img/p2.png) ;
    background-position: center;
    background-size: 950px 680px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
  }

  .about_me .a_main .a_text .tit {
    padding-left: 150px;
    padding-top: 100px;
  }

  .about_me .a_main .a_text .tit ul li {
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
  }

  .about_me .a_main .a_text .tit ul li:nth-child(5) {
    padding-top: 80px;
  }

  .about_me .a_main .a_text .contents {
    padding-left: 50px;
    padding-top: 100px;
  }

  .about_me .a_main .a_text .contents ul li {
    font-size: 25px;
    font-weight: bold;
    line-height: 2.5;
  }

  .about_me .a_main .a_text .contents ul li:nth-child(3),
  .about_me .a_main .a_text .contents ul li:nth-child(4) {
    font-size: 20px;
    line-height: 3;
  }
  .about_me .a_main .a_text .skill {
    border: 1px solid red;
    position: absolute;
    top: 500px;
    left: 150px;
    width: 650px;
  }
  .about_me .a_main .a_text .skill ul li {}
  
/*  Portfolio  */

  .portfolio{
    background-color: #576F40;
  }
  
  /*  Contact  */

  .contact{
    background-color: white;
  }
  
  .portfolio-slide-2{
    background-image: url() ;
    background-repeat: no-repeat; 
    background-size: cover ;
    background-position: center;   
  }
  