 /* nor  */
body, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

 /* lib  */

 @font-face {
  font-family: 'KBIZHanmaumMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --site-width : 1600px;
}

.container {
  max-width: var(--site-width);
  margin: 0 auto;
}

  html {font-family: 'KyoboHand';}

 /* cus  */

 /*  home  */


  .home {
    font-family: 'KBIZHanmaumMyungjo';
  }

  .home .container {
    display: flex;
    flex-direction: row;
  }

  .home .home_left {
      padding-left: 180px;
      width: 50%;
      position: relative;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }

  .home .home_left .text-box {
      position: relative;
      padding-top: 30px;
      margin-top: 250px;
  }

  .home .home_left h1 {
      font-size: 54px;
      color: #ffffff;
      line-height: 40px;
  }

  .home .home_left .sub_tit li {
      font-weight: bold;
      color: #ffffff;
      font-size: 20px;
      padding-left: 10px;
  }

  .home .home_left .hash_tag {
    padding-top: 70px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
  }

  .home .home_left .hash_tag ul {
    font-size: 18px;
  }

  
  .home .home_left .hash_tag ul li {
    display: none;
  }
  
  .home .home_right {
    width: 50%;
  }

  .home .home_right img {
    width: 600px;
    height: 750px;
    margin-left: 100px;
    border-radius: 20%;
    margin-bottom: 50px;
  }

  /*  About me  */

  .about_me {
    background-color: #576F40 ;
    z-index: -10;
    
  }

  .about_me header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .about_me header h1 {
    text-align: center;
  }

  .about_me header img {
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
    left: -100px;
    top: -110px;
  }

  .about_me .a_main {
    width: 100%;
    display: flex;
  }

  .about_me .a_main .a_left {
    width: 37.5%;
  }

  .about_me .a_main .a_img {
    max-width: 600px;
    padding: 90px 70px 0px;
  }

  .about_me .a_main .a_img > img {
    width: 450px;
    height: 600px;
    background-color: #999;
  }
  
  .about_me .a_main .a_right {
    width: 63.5%;
    padding-top: 20px;
  }

  .about_me .a_main .a_text {
    width: 1000px;
    height : 680px;
    background-image : url(../img/p2.png) ;
    background-position: center;
    background-size: 950px 680px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
  }

  .about_me .a_main .a_text .tit {
    padding-left: 150px;
    padding-top: 100px;
  }

  .about_me .a_main .a_text .tit ul li {
    font-size: 20px;
    font-weight: bold;
    line-height: 3;
  }

  .about_me .a_main .a_text .tit ul li:nth-child(5) {
    padding-top: 80px;
  }

  .about_me .a_main .a_text .contents {
    font-family: 'KBIZHanmaumMyungjo';
    padding-left: 50px;
    padding-top: 100px;
  }

  .about_me .a_main .a_text .contents ul li {
    font-size: 25px;
    font-weight: bold;
    line-height: 2.5;
  }

  .about_me .a_main .a_text .contents ul li:nth-child(3),
  .about_me .a_main .a_text .contents ul li:nth-child(4) {
    font-size: 20px;
    line-height: 3;
  }
  .about_me .a_main .a_text .skill {
    position: absolute;
    top: 480px;
    left: 150px;
  }

  .about_me .a_main .a_text .skill ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about_me .a_main .a_text .skill ul li {
    padding-left: 15px;
  }

  .about_me .a_main .a_text .skill ul li:nth-child(1) {
    padding-left: 5px;
  }

  .about_me .a_main .a_text .skill ul li p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  /*  Portfolio  */

  .portfolio {
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .portfolio header{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .portfolio header h1 {
    text-align: center;
  }
  .portfolio header > img{
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
    left: -100px;
    top: -113px;

  }

  .portfolio .p_main {
    width: 100%;
    height: 800px;
    display: flex;
  }
 
  .portfolio .p_main .p_img > img{
    width: 850px;
    height: 650px;
    margin-top: 70px;
    margin-left: 160px;
  }

  .portfolio .p_main a {
    width: 180px;
    height: 200px;
    margin-top: 295px;
    margin-left: -80px;
  }

  .portfolio .p_main a > img {
    width: 100px;
    transform: rotate(-15deg);
  }

  .portfolio .p_main a > div {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }


  .portfolio .p_main .p_text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    margin-top: 120px;
    margin-left: 30px;
    background-size: 380px 600px;
    background-position: 50px 0px;
    background-repeat: no-repeat;
    position: relative;
  }
  

  .portfolio .p_main .p_text h1 {
    color: #576F40;
    margin-top: 120px;
    margin-left: 90px;
    font-size: 38px;
    z-index: 10;
  }

  .portfolio .slide-1 .p_main .p_text h1 {
    font-size: 34px;
    margin-left: 80px;
  }

  .portfolio .p_main .p_text h2 {
    font-size: 28px;
    margin-left: 75px;
    font-weight: bold;
    z-index: 10;
  }

  .portfolio .p_main .p_text h3 {
    font-size: 24px;
    margin-left: 75px;
  }

  .portfolio .p_main .p_text .p_color {
    display: flex;
    position: absolute;
    top: 500px;
    left: 100px;
  }

  .portfolio .p_main .p_text .color01 {
    top: 480px;
  }

  .portfolio .p_main .p_text .color01 > div {
    background-color: #FE500A;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
  }

  .portfolio .p_main .p_text .color01 > div:nth-child(2) {
    background-color: #000;
  }

  .portfolio .p_main .p_text .color01 > div:nth-child(3) {
    background-color: #fff;
  }

  .portfolio .p_main .p_text .color02 {
    top: 480px;
  }


  .portfolio .p_main .p_text .color02 > div {
    background-color: #103c85;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
  }

  .portfolio .p_main .p_text .color02 > div:nth-child(2) {
    background-color: #ea546c;
  }

  .portfolio .p_main .p_text .color02 > div:nth-child(3){
    background-color: #fff;
  }

  .portfolio .p_main .p_text .color03 > div {
    background-color: #009223;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
  }

  .portfolio .p_main .p_text .color03 > div:nth-child(2) {
    background-color: #ffce32;
  }

  .portfolio .p_main .p_text .color03 > div:nth-child(3){
    background-color: #fff;
  }

  .portfolio .fp-prev {
    left: 50px;
    background-image: url(../img/left.png);
    width: 80px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px;
  }
  .portfolio .fp-next {
    right: 140px;
    background-image: url(../img/right.png);
    width: 80px;
    height: 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0px;
  }

  /*  Contact  */

  .contact header{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact header h1 {
    text-align: center;
    color: #fff;
  }
  .contact header > img{
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
    left: -100px;
    top: -113px;

  }

  .contact .c_main {
    display: flex;
    width: 100%;
  }

  .contact .c_main .c_left {
    position: relative;
    width: 50%;
  }

  .contact .c_main .c_left .c_img {
    width: 500px;
    height: 680px;
    margin-top: 50px;
    margin-left: 130px;
    background-color: #999;
    overflow: hidden;
    border-radius: 5px;
  }

  .contact .c_main .c_left .c_img > img {
    width: 600px;
    height: 830px;
    margin-top: -80px;
  }

  .contact .c_main .c_left > .tape {
    width: 480px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-10deg);
    opacity: 90%;
  }

  .contact .c_main .c_right {
    width: 50%;
  }
  

  .contact .c_main .c_right .c_text {
    height: 680px;
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
  }

  .contact .c_main .c_right .c_text .t_img {
    width: 100px;
    padding-top: 70px;
  }
  .contact .c_main .c_right .c_text > .t_img img {
    padding-bottom: 45px;
  }
  .contact .c_main .c_right .c_text > .t_contants {
    padding-top: 28px;
    padding-left: 50px;
  }
  .contact .c_main .c_right .c_text > .t_contants h2 {
    line-height: 4;
    font-size: 30px;
  }
